
<div class="add">

    <h1>Update Doctors</h1>
        
        <div class="container" col-md-6>
            <div class="card">
                <div class="card-body">
    
                    <div class="form-group">
                        <label > Doctor Name</label>
                        <input  type="text " [(ngModel)]="object.name" class="form-control"  >
    
                    </div>
    
                    <div class="form-group">
                        <label > Medical Specialties type</label>
                        <input type="text " [(ngModel)]="object.medicalspecialties" class="form-control" placeholder="sponorship , volunteer or donation programs ">
                    </div>
                    <button (click)="update()" class="btn block w-30 ">Send data </button>
                    
    
                
    
            </div>
    
        </div>
    </div>
    
    </div>
    
    