<div>
    <h1>About Baheya</h1>
    
    <p>The Baheya Institution has been named after Mrs. Baheya Wahby, a lady from a prominent 
        Egyp-tian family who passed away after losing her battle with cancer. During her treatment, 
        Baheya’s family noticed the excessive number of women from low-income families and the 
        suffering they go through being unable to afford the treatment. Since then, they decided 
        to convert her house into a non-profit hospital
         specialized in early detection and treatment for women diagnosed with breast cancer. </p>
        </div>
    
    

