<div class="add">

    <h1>Update How can You Help Us</h1>
        
        <div class="container" col-md-6>
            <div class="card">
                <div class="card-body">
    
                    <div class="form-group">
                        <label > YOUR Name</label>
                        <input  type="text " [(ngModel)]="object.name" class="form-control"  >
    
                    </div>
    
                    <div class="form-group">
                        <label >  How can you help Us </label>
                        <input type="text " [(ngModel)]="object.how" class="form-control" placeholder="sponorship , volunteer OR donation programs ">
                    </div>
                    <button (click)="update()" class="btn block w-30 ">Send data </button>
                    
    
                
    
            </div>
    
        </div>
    </div>
    
    </div>
    
    
